@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400&display=swap');

:root {
  --background-color-dark : #333338; /*#626266*/
  --primary: #4eff68; /*#ffc200  #f4ff00;*/
  --primary-darken-1: #ad8402;
  --secondary: #ff9292;
  --tertiary:#B38554;
}

button {
  -webkit-appearance: none !important; /*fix for chrome iOS*/
}

h1.title {
  background: #ffc200;
  color: #a68560;
  padding-left: 10px;
  margin-right: 60px;
}
.btn-group-lg>.btn, .btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0;
}

button.btn, .form-control, .form-check-input, a.btn {
  border-radius:0px!important;
}

.full-height {
  min-height: 100vh;
}

.fixed {
  position: fixed !important;
  /*top: 56px*/
  /*left: 7vw*/
  top: 15px;
  left: 13vw;
}
.sidebar {
  position: fixed;
  right:0;
  height:100vh;
  width:0;
  z-index: 1000;
  background: var(--bs-dark-rgb);
  transition: width 0.5s;
}
@media (max-width:767.98px) {
  .sidebar.active {
    width:100vw;
  }
} 
@media (min-width:768px) {
  .sidebar.active {
    width:40vw;
  }
} 

.sidebar>form {
  height:100%;
}

.sidebar .form-control, .sidebar .form-check-input {
  background-color: var(--bs-dark-rgb);
  border: 1px solid #ced4da;
  color: white;
}

#tagline {
  height: calc(2.4rem + 2.7vw);
  z-index:9000;
}

footer {
  display: flex;
  color: rgb(92, 92, 92);
  flex-flow: column-reverse;
}

.consult-item svg {
  width: 50px;
  height: 50px;
}

.consult-item {
  cursor: pointer;
  height:170px;
}

.consult-item:hover svg {
  color: var(--primary)
}

div.profile {
  width: 100%;
  background-size: cover !important;
  filter: grayscale(100%);
}

div.profile:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#panel-4 {
  color:white;
}

#tagline-nav {
 opacity:0;
 transition: opacity 0.5s;
 color: var(--primary)
}
.login-error {
  color: orange;
  display:none;
}
.screenshot {
  -webkit-box-shadow: 0px 0px 50px 7px #C3C3C3; 
  box-shadow: 0px 0px 50px 7px #C3C3C3;
  border-radius:5px;
}
.lead {
  font-size: 1rem;
}
@media (min-width: 576px){
  .lead {
    font-size: 1.25rem;
  }
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.font-monospace {
  font-family:'IBM Plex Mono' !important;
}