$primary: #ffbb00;
$secondary: #e9ecef;
$tertiary: #00ce94;
$dark: #4c4c4c;
$light: #f5f5f5;

$dropdown-padding-y: 0.3rem;
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-font-size: 1.4rem;
$dropdown-item-padding-y: 1rem;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "light": $light,
  "dark": $dark,
);

@import "../bootstrap-scss-master/bootstrap.scss";
