:root {
  --background-color-dark: #333338;
  /*#626266*/
  --primary: #92ffe1;
  --secondary: #ff9292;
  --tertiary: #B38554;
}

html {
  height: 100%;
}

.container-fluid {
  height: 100vh;
}

body,
.container-fluid>.row {
  height: auto;
  min-height: 100%;
}

body {
  background-color: #f7f7f7;
  color: #212529;
  transition: background-color 1s;
}


.cardx {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}


body.gallery-view {
  background-color: var(--background-color-dark);
  color: #fff;
}

h1 {
  font-size: 3.8em;
  line-height: 0.9em;
  margin-left: -2px;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.1em;
  font-weight: 600;
}

p {
  font-size: 15px;
  font-weight: 300;
}

a {
  color: #8e8e8e;
}

a:hover {
  color: #8e8e8e;
}

@media (max-width:768px) {
  h3 {
    font-size: 1em;
  }
}




.gallery-view a {
  color: #8e8e8e;
}

.gallery-view path {
  fill: #fff;
}

.project-wrapper {
  max-width: 700px;
  margin: auto;
}

.row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.project {
  border-top: 5px solid var(--secondary);
  padding-top: 10px;
  font-size: 12px;
  transition: border 0.7s;
  z-index: 500;
}

#grid-view-switch:hover {
  opacity: 0.7;
  cursor: pointer;
}

.project:hover {
  border-top: 5px solid var(--primary);
  cursor: pointer;
}

.col-item {}

.project>div {
  margin-bottom: 12px;
}

.tags {
  margin-top: 12px;
  overflow-wrap: unset;
  font-size: 12px;
}

.container {
  /*  max-width:700px;
  padding-top:80px; */
}

a.icon {
  text-decoration: none;
}

a.icon svg {
  margin-bottom: 5px;
  margin: 5px;
}

a.icon svg:hover {
  fill: var(--secondary);
}

a.icon span {
  position: absolute;
  margin-top: -23px;
  right: 50px;
  display: none;
  color: black;
  font-size: 11px;
}

a.icon:hover span {
  display: block;
}

.glyphs img,
a.icon svg {
  width: 20px;
  height: 20px;
  opacity: 1;
}

.glyphs img:hover,
a.icon:hover img {
  opacity: 1 !important;
}

.glyphs {
  position: absolute;
  top: 19px;
  right: 20px;
  fill: red;
}

#company-panel p {
  font-size: 10px;
  margin-bottom: 0.2rem;
}

#company-panel-mobile {
  display: none;
}

#contact-panel {
  border: 2px solid #0000001f;
  border-radius: 20px;
  position: fixed;
  right: 20px;
  width: 40px;
  text-align: center;
  z-index: 100;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width:768px) {

  #contact-panel {
    margin-bottom: -16px;
    position: relative;
    left: unset;
    bottom: unset;
    min-height: 40px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 1px solid #0000001f;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-radius: 0;
    z-index: 100;
  }

  #contact-panel img {
    margin: 5px 10px;
  }

  #project-info {
    position: fixed;
    width: 58%;
    top: 24px;
    left: 20px;
  }

  #company-panel {
    display: none !important;
  }

  #company-panel-mobile {
    display: block;
    position: absolute;
    bottom: -250px;
    padding-bottom: 40px;
    font-size: 11px;
  }

  #company-panel-mobile p {
    font-size: 14px;
    margin-bottom: 0.2rem;
  }
}

#title-panel {
  color: black;
}

#imgs-panel {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  color: var(--background-color-dark);
}

#imgs-panel>div {
  position: relative;
  max-width: 750px;
  width: 100%;
  height: 100%;
}

#imgs-panel .main {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  background: #ffffff14;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  object-fit: contain;
}

#imgs-panel .main div {
  opacity: 0;
}

#imgs-panel .main div:hover {
  cursor: pointer;
}

#imgs-panel .main-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}


#imgs-panel .thumbs,
#imgs-panel .main {
  /*max-width:600px;*/
}


#imgs-panel .thumbs img {
  width: 80px;
  height: auto;
  margin-right: 10px;
  display: none;
}

#projects-panel {
  max-width: 750px;
  margin: auto;
}

@media (max-width:768px) {
  #projects-panel {
    padding-top: 0;
  }
}

#info-panel [class*='col-'] {
  padding-left: 0;
  min-width: 0;
}

#control-panel>div {
  padding-right: 0;
  padding-left: 0;
}

#control-panel>div:hover {
  opacity: 0.7 !important;
}

#control-panel .project {
  border-color: #ffffff27;
}

#control-panel .active h2 {
  color: #e2e2e2;
}

#control-panel h2 {
  margin-top: -7px;
  font-size: 18px;
  color: #ffffff6b;
}

.row [class*='col-'] {
  transition: transform 0.4s ease-out, color 0.8s ease-out;
  /*min-width:200px;*/
  margin-bottom: 30px;
}

.panel {
  padding: 0;
}

.project div {
  max-height: 200px;
}

.project,
.project div {
  /*transition: all 0.2s linear;*/
}

.col-active {
  position: absolute;
  right: 0;
  top: 0;
}

div.minimise {
  display: block !important;
  margin-bottom: 4px !important;
  max-height: 20px;
  max-width: 100% !important;
  padding: 0 !important;
}

@media (max-width:768px) {
  .minimise h2 {
    font-size: 12px;
  }
}

@media (max-width:1000px) {
  .minimise h2 {
    font-size: 18px;
  }
}

.minimise .project div {
  max-height: 0;
  overflow: hidden;
}

.minimise h2 {
  color: white;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 0;
  line-height: 14px;
}

.minimise .project-active h2 {
  color: black;
}

.hide {
  display: none;
}

#grid-view-switch {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 10px;
}

#btn-toggle {
  position: absolute;
  top: -30px;
  left: 10px;
}