h1.title {
  background: #ffc200;
  color: #a68560;
  padding-left: 10px;
  margin-right: 60px;
}
.btn-group-lg>.btn, .btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0;
}

button.btn.btn-lg {
  border-radius:0px!important;
}