:root {
  --bs-card-border-radius: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans serif;
  font-style: normal;
  font-weight: 700;
}

h3.display-3 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  /*text-shadow: 0 0 4rem rgb(0 0 0);*/
  /*box-shadow: 1em 0 0 #FFAA3B,-1em 0 0 #FFAA3B;*/
  /*box-decoration-break: clone;*/
}

h3.banner-text span {
  background-color: #3a3a3ad1;
  padding: 0 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 3rem;
}

p {
  font-family: "Montserrat", serif;
  font-weight: 300;
}
button {
  -webkit-appearance: none !important; /*fix for chrome iOS*/
}

h1.title {
  background: #ffc200;
  color: #a68560;
  padding-left: 10px;
  margin-right: 60px;
}
.btn-group-lg > .btn,
.btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0;
}

button.btn,
.form-control,
.form-check-input,
a.btn {
  border-radius: 0px !important;
}

.banner .btn:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

#banner-text {
  display: flex;
  flex-wrap: wrap;
}
.banner-text-wrapper {
  /*overflow:hidden;
  height: 6rem;
  margin-right: 2rem;*/
}
.banner-text-slider {
  /*white-space: nowrap;*/
}
.banner-text {
  transform: translateY(0%);
  color: white;
  animation: slideText;
  animation-delay: 1000ms;
}
/*
.banner-text-0 {
  animation: slideText 2s linear;
  opacity:0;
}
.banner-text-1 {
  animation: slideText 1.85s linear;
  animation-delay: 150ms;
}
.banner-text-2 {
  animation: slideText 1.7s linear;
  animation-delay: 300ms;
}
.banner-text-3 {
  animation: slideText 1.55s linear;
  animation-delay: 450ms;
}
.banner-text-4 {
  animation: slideText 1.55s linear;
  animation-delay: 600ms;
}
*/
@keyframes slideText {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  20% {
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}

.fadein.banner {
  width: 100%;
  position: absolute;
  top: 0;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.full-height {
  min-height: 100vh;
  background-position: center;
}

.half-height {
  min-height: 50vh;
}

.fixed {
  position: fixed !important;
  /*top: 56px*/
  /*left: 7vw*/
  top: 15px;
  left: 13vw;
}
.sidebar {
  position: fixed;
  right: -2px;
  height: 100vh;
  width: 0;
  z-index: 1000;
  background: var(--bs-dark-rgb);
  transition: width 0.5s;
  border-left: 2px solid var(--bs-primary);
}
@media (max-width: 767.98px) {
  .sidebar.active {
    width: 100vw;
  }
  #tagline-nav {
    display: none;
  }
  .menu-item-expanded {
    display: none;
  }
  nav.navbar {
    height: 60px;
  }
}
@media (min-width: 768px) {
  .sidebar.active {
    width: 40vw;
  }
  nav.navbar {
    height: 70px;
  }
  #menu-dropdown {
    display: none;
  }
}

.sidebar > form {
  height: 100%;
}

.sidebar .form-control,
.sidebar .form-check-input {
  background-color: var(--bs-dark-rgb);
  border: 1px solid #ced4da;
  color: white;
}

#tagline {
  height: calc(2.4rem + 2.7vw);
  z-index: 9000;
}

footer {
  display: flex;
  color: rgb(92, 92, 92);
  flex-flow: column;
}

.consult-item svg {
  width: 50px;
  height: 50px;
}

.consult-item {
  cursor: pointer;
  height: 170px;
}

.consult-item:hover svg {
  color: var(--primary);
}

div.profile {
  width: 100%;
  background-size: cover !important;
  filter: grayscale(100%);
}

div.profile:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#panel-4 {
  color: white;
}

#tagline-nav {
  opacity: 0;
  transition: opacity 0.5s;
  color: var(--primary);
}
.login-error {
  color: orange;
  display: none;
}
.screenshot {
  -webkit-box-shadow: 0px 0px 50px 7px #c3c3c3;
  box-shadow: 0px 0px 50px 7px #c3c3c3;
  border-radius: 5px;
}
.lead {
  font-size: 1rem;
}
@media (min-width: 576px) {
  .lead {
    font-size: 1.25rem;
  }
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.font-monospace {
  font-family: "IBM Plex Mono" !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

nav ul.dropdown-menu.show {
  position: fixed;
  top: 54px;
  left: 0;
  width: 100%;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.dot-grid {
  background: white;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

button.dropdown-toggle img {
  width: 25px;
}

button.dropdown-toggle::after {
  display: none;
}

button.dropdown-toggle.show {
  border-color: white;
}

a svg {
  width: 20px;
  margin-bottom: 4px;
}

.client-logo > div {
  height: 60px;
  filter: grayscale(1);
  mix-blend-mode: lighten;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.client-logo > div.invert {
  filter: grayscale(1) invert(1);
}

.logo-banner {
  background: #ffc200;
  color: #a68560;
  padding-left: 10px;
  margin-right: 60px;
  display: flex;
  align-items: center;
}

.dark-background {
  background: #2c3034;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
}

a.navbar-logo {
  height: 100%;
}
.navbar-logo img {
  height: 90%;
}
